h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-bottom: 80px;
}

img{
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 40px;
}

.botoes{
    text-align: center;
    
}

.btn-ligar, .btn-desligar{  
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 1.2rem;
    padding: 10px 26px;
}

.btn-ligar:hover{
    background-color: yellow;
    cursor: pointer;
}

.btn-desligar:hover{
    background-color: rgb(226, 209, 209);
    cursor: pointer;
}