h1{
  text-align: center;
}


img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;
  display: none;
}

.btn{
  display: block;
  margin: 0 auto;
  margin-top: 350px;
  padding: 16px 50px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(252, 44, 44);
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(255, 23, 166);
}

.btn.removebtn{
  display: none;
}

.iframe{
  display: none;
  margin: 0 auto;
}

iframe.active{
  display: block;
}

.img.active{
  display: block;
  background-color: rgb(255, 23, 166);
}

body.cor{
  background-color: rgb(255, 23, 166);
}
