*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.div-1{
    display: block;
    background-color: brown;
    height: 400px;
    width: 600px;
    position: absolute; /* ou fixed, se quiser centralizar em toda a tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-2{
    display: none;
    background-color: brown;
    height: 400px;
    width: 600px;
    position: absolute; /* ou fixed, se quiser centralizar em toda a tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-2.active{
    display: block;
}
