*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slide{
  position: relative;
}

.slider{
  overflow-x: hidden;
  width: 900px;
  border-radius: 20px;
  scroll-behavior: smooth;
}

.content{
  display: flex;
  width: fit-content;
}

.content img{
  width: 900px;
  height: 350px;
  object-fit: cover;
}

button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: cornflowerblue;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

button:first-of-type{
  left: 0;
  transform: translate(-50%, -50%);
}

button:last-of-type{
  right: 0;
  transform: translate(50%, -50%);
}

button:hover{
  background-color: rgb(87, 132, 215);
}

.length-dots{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 200%);
  display: flex;
  gap: 10px;
}

.dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.dot.current{
  background-color: cornflowerblue;
}